
#hassan-body {
    background-color: #636363;
}

.container-background {
    background-color: black;
}

/* ----------------------------------------------------------------- */

#nateh1{
    text-align: center;
    color: white;
    font-size: 100px;
}

.natep{
    color: white;
    background-color: rgba(0, 0, 0, 0.423);
    font-size: 30px;
}